.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-flow: row;
    gap: 85px;
}

.textInputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 380px;
    gap: 8px;
}

.imageInputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 450px;
}

.imageContainer {
    width: min-content;
    align-self: center;
}

.abtInputs {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.abt {
    width: 85px;
}

.textarea {
    height: 200px;
    width: 100%;
}

.labelInput {
    width: min-content;
}

.label {
    font-size: 11px;
    color: #333333;
    width: fit-content;
}


.subImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submitBtn {
    width: 100%;
    
}

.selector {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0da665;
    border-radius: 16px;
    height: 45px;
}

.selector.difficulty {
    align-self: flex-end;
}

@media (width<=920px) {
    .inputContainer {
        flex-flow: column;
        gap: 30px;
    }
}
