.inputContainer {
    align-items: center;
    gap: 22px;
    width: 100%;
    max-width: 800px;
    display: flex;
}

@media (width <=640px) {
    .inputContainer {
        flex-direction: column;
    }
}

.inputField {
    color: #003428;
    letter-spacing: 0.251px;
    background-color: #d9f5de;
    border: 1px solid #003428;
    border-radius: 10px;
    flex: 1;
    padding: 6px 22px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    resize: none;
}

.actionArea {
    flex-shrink: 0;
}

@media (width <=640px) {
    .inputField {
        width: 100%;
    }

    .actionArea {
        align-self: flex-end;
    }
}