
.slickSlider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none; /* Move this line before user-select */
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.toggleButton {
  position: inherit;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 5%;

}

.profileContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 11px;

  font-family: "Roboto", "Inter", sans-serif;
  background: #d9f5de;
  position: relative;
  /*margin: 10px;*/
  padding: 0px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  margin-top: 10%;
  margin-bottom: 8%;
}

.editBox {
  opacity: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  max-width: 1200px; 
}

.passwordInput {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #0da665;
  border-radius: 16px;
  height: 20px;
  padding-right: 40px;
}
.passwordInput:hover {
  background-color: #ffffffc3;
}

.passwordInput:focus {
  outline: none;
  border: 1px solid #1b4332;
}

.profileForm {
  flex: 1;
  padding: 30px;
  margin: 10px;
  text-align: left;
  color: #333333;
  font-family: "Roboto", "Inter", sans-serif;
  font-size: 11px;
}

.pictureContainer {
  flex: 1;
  display: flex;
  padding: 20px;
  margin: 10px;
  text-align: center;
  align-self: center;
  flex-direction: column;
}

.profilePic{
  align-self: center;
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  object-fit: cover;
  border-radius: 50%;
}

.profileContainer h1 {
  color: #1b4332;
  font-size: 2.5rem;
  font-family: "Instrument Serif";
  font-weight: lighter;
  margin: 5px;
}

.profileContainer h2 {
  color: #1b4332;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.profileForm p {
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.linkTo{
  color: #0DA665;
  margin: 5%;
  font-size: 1rem;
  font-weight: bold;
}

.selectFileButton {
  width: 40%;
  position: inherit;
  align-self: center;
  margin: 0 auto;
}

.profileContainer .titleVariant {
  font-size: 2.5rem;;
  font-style: italic;
  color:#0DA665;
  margin-bottom: 5%;
}

.profileContainer .firstPart {
  font-style: normal;
  color: #003428; 
}

.destinationContainer{
  display: flex;
  flex-direction: column;
  padding: 5px;

}

.destinationBox {
  height: auto;
  width: auto;
  background-color: #003428;
  border-radius: 30px;
  padding: 5%;
  align-self: center;
}

.destinationItem {
  height: 20%;
  width: 50% auto;
}

.destinationButton {
  height: 20%;
}

.destinationImage {
  width: 40%;
  height: 50%;
  border: 5px solid #a3e96c;
  border-radius: 55px 20px 55px 20px;
}


.disappearingButton {
  width: 100%;
}

.editableInput:focus {
  border-color: initial; 
  outline: none;
}

.error {
  font-size: x-small;
  color: #d14b4b;
  font-weight: bold;
  margin-top: 2%;
}


@media (max-width: 1200px) {
  .profileContainer {
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .editBox {
    flex-direction: column;
    align-items: center;
  }

  .profileForm, .pictureContainer {
    width: 100%;
    max-width: 600px;
  }


  .disappearingButton {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .profileContainer {
    font-size: 10px;
    margin-top: 25%;
    align-items: center;
    margin-bottom: 15%;
  }

  .inputField{
    width: 90%;
  }

  .profileContainer h1 {
    font-size: 2rem;
  }

  .profileContainer .titleVariant {
    font-size: 2rem;
  }

  .btn1 {
    width: 70%;
  }

  .profilePic{
    align-self: center;
  }

  .passwordInput{
    width: 85%;
  }

  .disappearingButton{
    width: 80%;
  }
}

@media (max-width: 600px) {
  .profileContainer {
    font-size: 9px;
    width: 90%;
    align-self: center;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 20%;
  }

  .profileForm {
    align-self: center;
    width: 90%;
  }
  

  .inputField{
    width: 90%;
    align-self: center;
  }

  .editBox {
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .profileContainer h1 {
    font-size: 1.5rem;
  }

  .profileContainer .titleVariant {
    font-size: 1.5rem;
  }

  .btn1 {
    width: 70%;
  }

  .profilePic{
    max-width: 200px;
    max-height: 200px;
    align-self: center;
  }
  .passwordInput{
    width: 85%;
  }

  .destinationBox {
    width: 100%;
  }
}

@media (max-width: 250px) {
  .profilePic{
    max-width: 100px;
    max-height: 100px;
    align-self: center;
  }
}
  