.mainContainer {
    background-color: #d9f5de;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 122px 0px;
    display: flex;
}

.titleContainer {
    flex-direction: column;
    align-items: center;
    gap: 12.331px;
    width: 100%;
    max-width: 697px;
    margin-bottom: 40px;
    display: flex;
}

.title {
    color: #003428;
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 400;
    line-height: 125%;
}

@media (width <=991px) {
    .title {
        font-size: 50px;
    }
}

@media (width <=640px) {
    .title {
        font-size: 36px;
    }
}

.highlightedText {
    color: #0da665;
}

.divider {
    background-color: #003428;
    width: 576px;
    height: 3px;
    border: none;
    text-decoration-line: underline;
}

@media (width <=991px) {
    .divider {
        width: 400px;
    }
}

@media (width <=640px) {
    .divider {
        width: 280px;
    }
}