.search_container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search_input {
    width: 180px; 
    padding: 10px 10px 10px 35px; 
    background-color: #1b4332;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
  }
  
  .search_input::placeholder {
    color: #ffffffe8;
  }
  
  .search_input:hover {
    background-color: #ffffff15;
  }
  
  .search_input:focus {
    outline: none;
    border: 1px solid #fff;
  }
  
  .search_icon {
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 20px;
  }  