body {
  font-family: "Roboto", "Inter", sans-serif;
  background: #d9f5de;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15vh;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: -10px;
  z-index: -1;
}

.image_mountain {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-box {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

h1 {
  color: #1b4332;
  font-size: 2rem;
  font-family: "Instrument Serif";
  font-weight: lighter;
  margin: 5px;
}

h2 {
  color: #1b4332;
  margin: 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 0.875rem;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #0da665;
  border-radius: 16px;
  height: 20px;
}

.input-field:hover {
  background-color: #ffffffc3;
}

.input-field:focus {
  outline: none;
  border: 1px solid #003428;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 40px; 
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: gray;
  font-size: 18px;
}


.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
}

.options p {
  margin-left: 10px;
  margin-right: auto;
}

.btn1 {
  background: #003428;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn1:hover {
  background: #a3e96c;
  color: #003428;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #a3e96c;
  color: #003428;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn2 img {
  width: 20px;
  height: 20px;
}

.btn2:hover {
  background: #003428;
  color: #fff;
}

a {
  color: #0da665;
  font-weight: bold;
  font-size: 0.875rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0da665;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .login-box {
    width: 90%;
  }
}
