.heroSection {
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  position: relative;
}

@media (width<=1024px) {
  .heroSection {
    text-align: center;
    flex-direction: column;
    padding: 20px;
  }
}

.textContent {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media (width<=1024px) {
  .textContent {
    align-items: center;
    margin-bottom: 30px;
  }
}

.subtitle {
  color: #003428;
  margin-bottom: 10px;
  font-family: Instrument Serif, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
}

@media (width<=640px) {
  .subtitle {
    font-size: 20px;
  }
}

.title {
  margin-bottom: 28px;
  font-family: Instrument Serif, serif;
  font-size: 128px;
  font-weight: 400;
  line-height: 125%;
}

@media (width<=1060px) {
  .title {
    font-size: 96px;
  }
}

@media (width<=640px) {
  .title {
    font-size: 64px;
  }
}

.en {
  color: #003428;
}

.avila {
  color: #0da665;
  font-style: italic;
}

.ctaButton {
  color: #fff;
  letter-spacing: 0.3px;
  text-align: center;
  cursor: pointer;
  background-color: #1b4332;
  border-radius: 17px;
  width: 466px;
  padding: 15px 24px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.ctaButton:hover {
  background-color: #a3e96c;
  color: #003428;
}

@media (width<=1060px) {
  .ctaButton {
    width: 100%;
    max-width: 466px;
  }
}

.heroImage {
  border: 6px solid #a3e96c;
  border-radius: 47px 160px 32px 130px;
  width: 520px;
  height: 297px;
  box-shadow: 0 67px 7px #0000, 0 7px 3px #00000003, 0 0px 36px #0000000d,
    0 27px 27px #00000017, 0 7px 15px #0000001a;
}

@media (width<=640px) {
  .heroImage {
    border-width: 4px;
    border-radius: 24px 80px 16px 65px;
    width: 100%;
    height: 200px;
  }
}
