.contenedorCarrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-height: 230px;
  margin-bottom: 10px; 
  width: 100%;
}
  
.tarjetaCarrusel {
  width: 100%;
  height: 100%; 
  overflow: clip;
  max-height: 200px;
  max-width: 2200px; /*para modificar el ancho del carrusel*/
}
  
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    height: 100%;
    max-height: 200px; 
  }
  
  .contenedorImagen {
    flex-shrink: 0;
    height: 100%; 
    max-height: 200px;
    display: flex;
    align-items: center;
  }
  
  .imagen {
    max-width: 100%;
    max-height: 250px; /*para modificar la altura del carrusel*/
    object-fit: cover;
    height: 104px;
    width: 156px;
  }

  .imagen.mediumCarousel {
    height: 190px;
    width: 282px;
  }
  
  .imagenPar {
    border: 3px solid #a3e96c;
    border-radius: 55px 20px 55px 20px;
  }

  .imagenPar.mediumCarousel {
    border-radius: 62px 33px 62px 33px;
  }
  
  .imagenImpar {
    border: 3px solid #a3e96c;
    border-radius: 20px 55px 20px 55px;
  }
  
  .imagenImpar.mediumCarousel {
    border-radius: 33px 62px 33px 62px;
  }
  
  .arrow {
      display: flex !important;
      align-items: center;
      justify-content: center;
      background-color: "x";
      height: 45px;
      width: 45px;
      border-radius: 10px;
      z-index: 1;
  }
  
  .arrow:hover {
      background-color: "x";
  }
  
  .arrow::before {
      font-size: 25px;
      color: "x";
  }
  
  @media (max-width: 1024px) {
      .arrow {
          height: 40px;
          width: 25px;
      }
      .arrow::before {
          font-size: 18px;
      }
  }
  
  @media (max-width: 768px) {
      .arrow {
          height: 30px;
          width: 20px;
      }
  }
