.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .alertBox {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
  }
  
  .alertContent {
    text-align: center;
  }
  
  .alertContent p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .closeButton {
    background-color: #003428;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    align-items: center;
    display: initial;
  }
  
  .closeButton:hover {
    background-color: #105b4a;
  }
  
  .success {
    border-top: 4px solid #003428;
  }
  
  .error {
    border-top: 4px solid #dc3545;
  }
  
  .info {
    border-top: 4px solid #003428;
  }
  
  .warning {
    border-top: 4px solid #003428;
  }