.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 80vh;
    margin-top: 83px;
    background-color: rgba(217, 245, 222, 0.85);
    background-blend-mode: lighten;
    /* background-image: url('../../assets/sabas-nieves.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 120px;
    position: relative;
}

.return-button {
    position: absolute;
    top: 40px;
}

.arrow-back {
    width: 18px;
}

.info-container {
    display: flex;
    flex-flow: row;
    height: 55px;
    width: 185px;
    color: #a3e96c;
    border: #a3e96c solid;
    font-family: "Roboto";
    font-size: 23px;
    background: transparent;
    border-radius: 22px;
    border-width: 3px;
    font-weight: bold;
    gap: 10px;
}

.sign {
    margin-left: 10px;
    width: 35px;
}

.clock {
    margin-left: 10px;
    width: 35px;
}

.difficulty {
    margin-left: 10px;
    width: 35px;
}

.map-banner {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-color: #1b4332;
    padding-bottom: 50px;
}

.map-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    padding: 0 120px;
}

.map {
    border-top-left-radius: 84px;
    border-top-right-radius: 170px;
    border-bottom-left-radius: 170px;
    border-bottom-right-radius: 84px;
    border: #a3e96c solid;
    border-width: 5px;
    width: 560px;
    height: 350px;
}

.text-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    color:#a3e96c;
    font-family: "Instrument Serif";
    font-weight: lighter;
    font-size: 35px;
    gap: 20px;
    width: 50%;
}

.text-title {
    color: #D9F5DE;
    font-size: 12px;
    margin:0;
}

.first-part {
    color:white;
}

.destination-carousel {
    position: relative;
    z-index: auto;
    margin:0;
    top: -70px;
}

.destination-card {
    border-radius: 0;
    width: 903px;
    height: 307px;
  }
  
  .card-container {
    background-color: #1b4332;
    border-radius: 26px;
    width: 100%;
    padding: 32px 47px;
  }

  .guide-card-container {
    background-color: #0DA665;
    border-radius: 26px;
    width: 100%;
    padding: 32px 47px;
  }
    
  .content-wrapper {
    gap: 52px;
    display: flex;
  }

  .guide-content.content-wrapper {
    justify-content: space-between;
  }
  
  .destination-image {
    object-fit: cover;
    border-radius: 21px 27px 127px 23px;
    border:#a3e96c solid;
    width: 307px;
    height: 243px;
  }
  
  .guide-image {
    object-fit: cover;
    border-radius: 27px 21px 23px 127px;
    border:#a3e96c solid;
    width: 307px;
    height: 243px;
    justify-self: end;
  }

  .text-content {
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    justify-content: center;
    font-family: Roboto;
    font-size: 14px;
    display: flex;
    max-width: 450px;
  }

  .title {
    color: #a3e96c;
    font-size: 42px;
    font-weight: lighter;
    font-family: Instrument Serif;
  }
  
  .guide-title {
    color: #1b4332;
    font-size: 42px;
    font-weight: lighter;
    font-family: Instrument Serif;
  }

  .guide-info {
    color: #fff;
    align-self: stretch;
    margin-top: 9px;
    font-size: 21px;
    line-height: 16px;
  }

  .description {
    color: #fff;
    align-self: stretch;
    margin-top: 9px;
    font-size: 14px;
    line-height: 16px;
  }
  
  @media (width<=991px) {
    .card-container {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .guide-card-container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    
    .content-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }

    .destination-image {
        margin-top: 40px;
      }
    
    .text-content {
        max-width: 100%;
        margin-top: 40px;
      }
    
    .description {
        max-width: 100%;
      }
  }

.info-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 98px;
}