body {
  font-family: "Roboto", "Inter", sans-serif;
  background: #d9f5de;
  position: relative;
  /*margin: 10px;*/
  padding: 0px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  margin-top: 10%;
  margin-bottom: 8%;

}

h1 {
  color: #003428;
  font-size: 2rem;
  font-family: "Instrument Serif";
  font-weight: lighter;
  margin: 5px;
}

h2 {
  color: #003428;
  margin: 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 0.875rem;
}

.input_field {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #0da665;
  border-radius: 16px;
  height: 20px;
}

.input_field:hover {
  background-color: #ffffffc3;
}

.input_field:focus {
  outline: none;
  border: 1px solid #003428;
}
.password_input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #0da665;
  border-radius: 16px;
  height: 20px;
  width: 100%;
  padding-right: 40px;
}
.password_input:hover {
  background-color: #ffffffc3;
}

.password_input:focus {
  outline: none;
  border: 1px solid #003428;
}

.btn1 {
  background: #003428;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn1:hover {
  background: #a3e96c;
  color: #003428;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #a3e96c;
  color: #003428;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn2:hover {
  background: #003428;
  color: #fff;
}

.btn3 {
  background: #a3e96c;
  color: #003428;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn3:hover {
  background: #d9f5de;
  color: #003428;
}
